video.cover{position:relative;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);height:100%;width:auto;}

iframe.cover{width:100%;height:100%;}
    @media screen and (min-aspect-ratio: 16/9){	
video.cover{height:auto;width:100%;}}
		
.video-frame{
	height:100%;
	width:100%;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-style:bold;
	font-size:45px;
	color: red;
	z-index: 100;
	}
h3{
	font-family: 'Oswald', sans-serif;
	font-size:30px;
	color: red;
	z-index: 100;
}
h3.subhead{
	font-size:25px;
	color:black;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 24px;
	z-index:100;
}
#forest-container {

}
#forest-section1{
	position:relative;
	z-index:100;
}
#river1{
	position:absolute;
	z-index:0;
}
#forest-section2{
	position:relative;
	z-index:100;
}
#river2 {
	position:absolute;
	z-index:0;
}