


/*** Navbar ***/

.navbar-default{
    background-color:black;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 100000;
    border:none;
    border-radius: 0;
}

.navbar-brand{
    font-family: "Oswald", "HelveticaNeue-CondensedBlack", Impact, sans-serif;
}


#opening-title-container {
    position:relative;
    padding: 0; /*bootstrap override*/
}



#cover-title-1 {
    position: absolute;
    display:inline-block;
    text-align: center;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border: 0;
    color: white;
    z-index: 10;
    width: 100%;
}

#cover-title-1 h1 {
    font-size: 6em;
    line-height: 1em;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 10;
}

#cover-title-1 h3{
    font-size: 2em;
    font-weight: 300;
    line-height: 1em;
}

#cover-title-1 button{
    background:none;
    color: #ddd;
}
#cover-title-1 button:hover{
    background:rbga(100,100,100,0.2);
    color: white;
}

#openingvideo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#openingvideo{
    position:relative;
    width:100%;
    height:100%;
}
#openingvideo video,
#openingbackgroundimage{
    position: absolute;
    top: 50%;
    left: 50%;
    height:100%;
    width:auto;
    transform:translate(-50%,-50%);
}
@media screen and (min-aspect-ratio: 16/9) { 
        #openingvideo video,
        #openingbackgroundimage{
            height:auto;
            width:100%;
        }
    }


